*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(blue,pink)
    
}
.wrapper{
    width: 350px;
    border-radius: 10px;
    box-shadow:  5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .title{
    color:white;
    line-height: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
}
.wrapper .box{
    
    
    padding: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    
    
}

.wrapper .box label{
    display: flex;
    height:53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
}
input[type=radio] {
    border: 0px;
    width: 30%;
    height: 1.5em;
}



.wrapper1{
    margin: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow:  5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper1 .title1{
    color:white;
    line-height: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    background-color: black;
}
.wrapper1 .box1{
    
    
    border-radius: 7px;
    padding: 20px;
    background-color: #e0e0e0;
    box-shadow:
      inset 2px 2px 4px #ffffff,
      inset -2px -2px 4px #bdbdbd,
      2px 2px 4px #bdbdbd,
      -2px -2px 4px #ffffff;
    
}

.wrapper1 .box1 label{
    display: flex;
    height:53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
}
input[type=checkbox] {
    border: 0px;
    width: 30%;
    height: 1.5em;
}
select{
    margin:15px;
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    
  
  }
  
  select:focus{
    outline:none;
  }


  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #100f0f;
    margin:10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #scroll-to-top:hover {
    background-color: #60f662;
  }
  




  
  



    